<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container-fluid">
        <div class="container-fluid">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">Test App</a>
            @{
                int? userid = Context.Session.GetInt32("UserId");
            }
            @if (userid == null)
            {
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">Home</a>
            }
            else
            {
                <a class="navbar-brand" asp-controller="UserDashboard" asp-action="Index">DashBoard</a>
                <a class="navbar-brand" asp-controller="User" asp-action="Show" asp-route-id="@userid">Profile</a>
            }

        </div>
        @if (userid == null)
        {
            <a class="navbar-brand" asp-controller="Login" asp-action="Signin">SingIn</a>
        }
        else
        {
            <a class="navbar-brand" asp-controller="Login" asp-action="Logout">Log Off</a>
        }
    </div>
</nav>