<div>
    <p>Manage Users</p>
    <p>
    <form>
        <Button>Add new</Button>
    </form>
    </p>
</div>
<table>
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Name^
            </th>
            <th>
                email
            </th>
            <th>
                created_at
            </th>
            <th>
                user_level
            </th>
            <th>
                <a>edit</a>
                <a>remove</a>
            </th>
        </tr>
    </thead>
</table>