<div class="title">
    <h2>Welcome to the Test</h2>
    <h3>We're going to build a cool aplication using a MVC framework! This application </h3>
    <button class="btn1">Start</button>
</div>
<div class="blocks">
    <div class="block">
        <p>Manage Users</p>
        <p>Using this application, you'll learn how to add, remove,adn edit users for the application</p>
    </div>
    <div class="block">
        <p>Leave Messages</p>
        <p>Users will be able to leave a message to another user using this application</p>
    </div>
    <div class="block">
        <p>Edit User Information</p>
        <p>Admins will be able to edit another user's information (email address, first name, last name, etc).</p>
    </div>

</div>